
.footer {
    width: 100%;

    background-color: #22353F;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 121px;
}

.footer-content-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    color: #AEAEAE;
}

.footer-content-text-nest {
    color: #18CFAB;
}

.footer-content-line {
    margin: 0 5px;

    width: 1px;
    height: 14px;

    background-color: #AEAEAE;
}