
.people-say {
    position: relative;

    margin-top: 90px;

    width: 100%;
    height: 100vh;
    min-height: 950px;

    background: url("../../images/background/people-say.jpg") top/cover no-repeat fixed;
}

.people-say-mask {
    position: absolute;

    width: 100%;
    height: 100vh;
    min-height: 950px;

    background: rgba(16, 27, 34, 0.50);
}



.people-say-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Slider-Big
======================================================= */
.slider-big {
    width: 1160px;
    min-width: 0;
    padding-top: 30px;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider-big-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    outline: none;
}

.slider-big-content {
    text-align: center;

    margin-top: 36px;

    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: #BBBBBB;
}

.slider-big-customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 37px;
}

.slider-big-name {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18CFAB;
}

.slider-big-position {
    margin-top: 15px;

    font-size: 13px;
    font-weight: 300;
    color: #BBBBBB;
}

.slider-big-icon {
    margin-top: 38px;
    padding: 10px;

    width: 166px;
    height: 166px;

    overflow: hidden;
    background: rgba(31, 218, 181, 0.2);
    border-radius: 50%;
}

.slider-big-picture {
    display: inline-block;

    width: 100%;
    border-radius: 50%;
}

.customer-icon-small-wrapper {
    position: relative;
    display: flex;
    justify-content: center;

    margin: 60px auto 0;
}


/* Slider
======================================================= */

.slider {
    position: relative;

    margin: 0 auto;
    padding: 0 65px;

    width: 550px;
}

.slider .slick-list {
    display: flex;
    align-items: flex-end;

    height: 110px;
}

.slider .slick-arrow {
    position: absolute;

    top: 65%;
    width: 30px;
    height: 30px;

    z-index: 10;
    transform: translateY(-50%);

    border: 1px solid #BBBBBB;
    background: transparent;

    font-size: 0;
    color: transparent;
}

.slider .slick-arrow.slick-prev {
    left: 0;
}

.slider .slick-arrow.slick-next {
    right: 0;
}

.slick-prev:after {
    content: '';
    position: absolute;
    display: block;

    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;

    transform: translateX(-45%) translateY(-50%) rotate(-45deg);
    z-index: 1;
}

.slick-next:after {
    content: '';
    position: absolute;
    display: block;

    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;

    transform: translateX(-65%) translateY(-50%) rotate(135deg);
    z-index: 1;
}

.customer-icon-small {
    text-align: center;

    margin: 0 15px;
    padding: 6px;

    overflow: hidden;
    background: rgba(31, 218, 181, 0.2);

    border-radius: 50%;
}

.customer-icon-small:focus {
    outline: none;
}

.slick-current {
    transform: translateY(-20px);
}

.customer-icon-small-img {
    border-radius: 50%;
}

.slick-arrow:focus {
    outline: none;
}

.slick-arrow:hover {
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
}
